anthropic
beautifulsoup4
click
cohere
dateparser
google_cloud_aiplatform
langchain_community
llama_index
llama-index-embeddings-langchain
llama-index-vector-stores-postgres
llama-index-vector-stores-redis
loguru
openai
pdfplumber
Pillow
protobuf
psycopg2_binary
python_pptx
Requests
striprtf
tiktoken
Unidecode
vertexai
